#boxTodos {
  background-color: #fffffb;
  border-radius: 30px;
  padding-inline: 20px;
  margin-bottom: 10px;
}

.search-button:hover {
  background-color: #ff7403;
  border: 1px solid #ff7403;
}

#create-button {
  margin-top: 25px;
}

.boxShowTodos {
  background-color: #ffe1a8;
  padding: 60px;
  border-radius: 35px;
  /* margin-left: -200px;
    margin-right: -100px;
    margin-top: -300px; */
}
