@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  font-family: "Open Sans", sans-serif;
}

#boxTodos {
  border-radius: 30px;
  padding-left: 20px;
  padding-right: -5px;
  margin-bottom: 10px;
}

.search-button:hover {
  background-color: #ffa500;
  border: 1px solid #ffa500;
}

.showTodos {
  overflow: auto;
  max-height: 100%;
  background-color: #fffffb;
  padding-inline: 40px;
  /* border-radius: 30px; */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 15px;
}

/* สกอร์ */

.showTodos::-webkit-scrollbar {
  width: 15px;
}

.showTodos::-webkit-scrollbar-track {
  background: #ffa50033;
  border-radius: 40px;
}

.showTodos::-webkit-scrollbar-thumb {
  background: #c48201;
  border-radius: 40px;
  box-shadow: 0 0 5px #6d470067;
}

/* .showTodos::-webkit-scrollbar {
  width: auto;
  height: 400px;
} */
