@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* #open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */

#root {
  max-width: 1280px;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  text-align: center;
  padding-inline: 20px;
}

#BarTodos {
  background-image: url("./assets/img/LogoVer2.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 50px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: #fff8db;
  background-image: url("./assets/img/SmallBG.svg");
  background-size: cover;
  overflow: hidden;
}
